# Allegion C file header snippet.
snippet header_c_allegion "Allegion copyright header and default comments"
/*------------------------------------------------------------------------------
 * Copyright(c)2015 Allegion PLC as an unpublished work.
 *
 * The information contained herein is confidential property of Allegion PLC.
 * All rights reserved.  Reproduction, adaptation, or translation without the express
 * written consent of Allegion PLC is prohibited, except as allowed under the
 * copyright laws.
 *----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 * File Name: `!v expand('%:t')` 
 * Purpose of File: ${1:Placeholder...}
 *----------------------------------------------------------------------------*/

/*-------------- HEADER INCLUDE FILES ----------------------------------------*/
/*-------------- DEFINITIONS -------------------------------------------------*/
/*-------------- TYPEDEFS ----------------------------------------------------*/
/*-------------- FUNCTION PROTOTYPES -----------------------------------------*/
/*-------------- VARIABLE DEFINITIONS ----------------------------------------*/
/*-------------- FUNCTIONS DEFINITIONS ---------------------------------------*/
endsnippet

#Single line comment break
snippet comment_line_single "Comment line break - single" b
/*-------------- ${1:Placeholder} `!p snip.rv = (60-len(t[1]))*"-"`*/
endsnippet

#Multi line comment break
snippet comment_line_multiple "Comment line break - multiple" b
/*------------------------------------------------------------------------------
 * ${1:Placeholder} 
 *----------------------------------------------------------------------------*/
endsnippet
